@model IEnumerable<Limit_Breakers_Repo.Models.Review>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-image: url('../../Content/background/backgroundpattern.jpg');
        background-attachment: fixed;
    }
</style>

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Make a New Review", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameDetails.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewOfGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameDetails.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
