
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../Content/background/backgroundpattern.jpg');
        background-attachment: fixed;
       
    }
</style>
<h2>Admin View</h2> <br />
<div>
<input type="button" value="Games" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "GameDetails") + "'");" />
    </div> <br />

<div>
    <input type="button" value="Newsboard" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "News") + "'");" />
    </div> <br />

<div>
    <input type="button" value="Reviews" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Reviews") + "'");" />
    </div>
