@model IEnumerable<Limit_Breakers_Repo.Models.GameDetails>

@{
    ViewBag.Title = "GamesPage";
}
<p>.</p>

<style>
    body {
        background-image: url('../../Content/background/reindeerbackground.jpg');
        background-attachment: fixed;
    }
    

</style>

<h2 align="center">Games</h2> 
<h3>Feel free to download whichever game is appealing to you.</h3>

<p>
    @using (Html.BeginForm("GamesPage", "GameDetails", FormMethod.Get))
    {
        <b> Search By:</b> @Html.RadioButton("searchBy", "Name", true)<text>Name </text>
        @Html.RadioButton("searchBy", "Genre") <text> Genre </text> <br />
                        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>


<div class="dropdown">
    @foreach (var item in Model)
    {
        <p>
                <table width="1000", height="200">
                    <tr>
                        <th><h4>@item.Name</h4></th>
                    </tr>
                    <tr>
                        <td>
                            

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <img src="@Url.Content("~/Content/"+item.ImageLocation)" align="left" /><p></p> Genre: @item.Genre <p>Description: @item.Description</p>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <b>Download:</b>
                            <a href="~/Content/@item.GameLocation">@Html.DisplayFor(modelItem => item.GameLocation)</a>
                        </th>
                    </tr>
                </table>
        </p>
    }
</div>

