@model IEnumerable<Limit_Breakers_Repo.Models.GameDetails>

@{
    ViewBag.Title = "GamesPage";
}
<p>.</p>

<style>
    body {
        background-image: url('../../Content/background/Gaming Background.jpg');
        background-attachment:fixed;
        background-size:cover;
        color:black;
    } 
    h2{
        text-decoration:underline;
    }

    img{
        max-height: 500px;
        max-height: 200px;
    }
</style>

<h1 align="center">Games</h1> 
<h3>Feel free to download whichever game is appealing to you.</h3>

<p>
    @using (Html.BeginForm("GamesPage", "GameDetails", FormMethod.Get))
    {
        <b> Search By:</b> @Html.RadioButton("searchBy", "Name", true)<text>Name </text>
        @Html.RadioButton("searchBy", "Genre") <text> Genre </text> <br />
                        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>


<div class="dropdown">
    @foreach (var item in Model)
    {
        <p>
                <table width="1200">
                    <tr>
                        <th><h2><b>@item.Name</b></h2></th>
                    </tr>
                    <tr>
                        <td>
                            

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <img src="@Url.Content("~/Content/"+item.ImageLocation)" align="left" /><p></p><h5><b>Genre:</b></h5>  @item.Genre <p><h5><b>Description: </b></h5>@item.Description</p>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <button onclick="myDownload()"><a href="~/Content/@item.GameLocation">Download</a></button>
                        </th>
                    </tr>
                </table>
        </p>

        <script>
            function myDownload() {
                        alert("Thank you for the support. While you wait for the download to complete, why don't you try out our Time Waster game");
                                        }
        </script>

    }
</div>

